.header
    height: 35px
    background-color: #ff45008c
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 15px
    position: relative
    &__title
        padding-top: 3px
        width: auto
        height: 100%
        text-align: center
        font-size: 24px
        font-weight: bold
        color: #fff
        cursor: pointer
        text-decoration: none
        pointer-events: none
        &_active
            pointer-events: auto
    &__language
        width: 70px
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        top: 0
        right: 150px
        &__btn
            background: none
            border: none
            font-size: 18px
            color: #fff
            transition: 0.3s
            cursor: pointer
            &_active
                font-weight: bold
            &:hover
                padding-bottom: 4px
        &__line
            width: 1px
            height: 25px
            border-right: 2px solid #fff
            transform: skew(20deg)
    &__logout
        display: none
        width: 70px
        height: 29px
        border: 2px solid #fff
        border-radius: 9px
        background: none
        font-size: 14px
        font-weight: bold
        color: #fff
        position: absolute
        cursor: pointer
        top: 3px
        right: 25px
        transition: 0.3s
        &:hover
            background-color: red
            border: none
        &_active
            display: block
