.header
    height: 35px
    background-color: #ff45008c
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 15px
    &__title
        padding-top: 3px
        width: 80px
        height: 100%
        text-align: center
        font-size: 24px
        font-weight: bold
        color: #fff
        cursor: pointer
        text-decoration: none
