.flashcards
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    &__flashcard
        width: 350px
        height: 500px
        margin-top: 50px
        border-radius: 9px
        background-color: #ff45008c
        &__word
            width: 100%
            height: 85%
            padding: 5px 0
            font-size: 30px
            color: #fff
            text-align: center
            display: flex
            justify-content: center
            align-items: center
        &__btns
            width: 100%
            height: 15%
            display: flex
            justify-content: space-around
            align-items: center
            &__btn
                width: 125px
                height: 30px
                border: none
                color: #ff45008c
                background-color: #fff
                border-radius: 9px
                transition: 0.5s all
                &:hover
                    background-color: #ff45008c
                    color: #fff
